<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Vivo LevelUp – Onboarding Gamificado</title>


  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">


  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

  <header class="header">
    <div class="container nav">
      <a class="brand" href="#">
        <span class="brand-badge">V</span>
        Vivo LevelUp
      </a>

      <nav class="menu" aria-label="Primária">
        <a class="link" th:href="@{/dash.html}" aria-current="page">Início</a>

        <div class="dropdown" aria-expanded="false">
          <button type="button" aria-haspopup="true" aria-expanded="false" aria-controls="lv-menu" class="link">
            Vivo LevelUp ▾
          </button>
          <div id="lv-menu" class="dropdown-list" role="menu">
            <a role="menuitem" href="#">Visão Geral</a>
            <a role="menuitem" href="#">Funcionalidades</a>
            <a role="menuitem" href="#">Ajuda</a>
          </div>
        </div>
      </nav>

      <nav class="right" aria-label="Secundária">
        <a class="link" href="#">Sobre</a>
        <a class="link" href="#">Ajuda</a>
          <form th:action="@{/logout}" method="post" style="display: inline;">
              <button type="submit" class="link" style="background:none; border:none; padding:0; cursor:pointer;">
                  Sair
              </button>
          </form>
      </nav>
    </div>
  </header>

  <section class="hero-head">
    <div class="container center">
      

      <h1 class="titulo">Entre na sua jornada VIVO</h1>
      <p class="subtitulo">Faça login com seu email corporativo para continuar sua experiência de onboarding gamificado</p>
      
    </div>
  </section>

  <div class="login-box">
      <form th:action="@{/login}" method="post">
          <p th:if="${erro}" th:text="${erro}" style="color:red;"></p>

          <input type="email" id="email" name="email" placeholder="E-mail" required>

          <input type="password" id="senha" name="senha" placeholder="Senha" required>

          <button type="submit">Entrar</button>
      </form>
  </div>

 

  <script>
    const dd = document.querySelector('.dropdown');
    if (dd) {
      const btn = dd.querySelector('button');
      btn.addEventListener('click', () => {
        const expanded = dd.getAttribute('aria-expanded') === 'true';
        dd.setAttribute('aria-expanded', String(!expanded));
        btn.setAttribute('aria-expanded', String(!expanded));
      });
      document.addEventListener('click', (e) => {
        if (!dd.contains(e.target)) { dd.setAttribute('aria-expanded', 'false'); btn.setAttribute('aria-expanded', 'false'); }
      });
    }
  </script>
</body>

</html>